﻿@inherits CategoriesComponentBase

  
 
  <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
  <nav class="nav">
  <a class="nav-link active" aria-current="page" href="#">NEW</a>
  <a class="nav-link" href="#">PAJAMAS</a>
  <a class="nav-link" href="#">NIGHTWEAR</a>
  <a class="nav-link " href="#">THERMAL UNDERWEAR </a>
   <a class="nav-link " href="#">DRESSING GOWN </a>
    <a class="nav-link " href="#">SALE</a>
</nav>
 </div>
</nav>
 