﻿@inherits HeaderComponentBase
  
   
    <div class="col">
        <a href="/AboutCompany" >ABOUT COMPANY</a>
    </div>
    <div class="col">
        <a href="/News" >NEWS</a>
    </div>
    <div class="col">
        <a href="/Contacts" >CONTACTS</a>
    </div>
    <div class="col">
        <a href="/Delivery" >DELIVERY&PAY</a>
    </div> 
     
 
 

 
 

    