﻿@inherits LoginComponentBase

        <div class="row">
        <div class="col-8">
            <div class="contact-small">
                <div class="contact-small__phone"><a>0 50 991 32 88</a></div>
                <div class="contact-small__time">mn-fr: 10:00-19: 00 <br> st-sn: 11:00-19:00</div>
            </div>
             </div>
               <div class="col-4">
                <div class="vstack gap-3">
                <div class="bg-light border"><button type="button" class="btn btn-light">
                <i class="bi bi-globe"></i>
            </button>
                </div>
                <div class="bg-light border"> <button type="button" class="btn btn-light">
                <i class="bi bi-person-square"></i>
            </button></div>
                <div class="bg-light border"><button type="button" class="btn btn-light">
                <i class="bi bi-cart"></i>
            </button></div>
                 
            
           </div>

           </div>
           </div>
         

            
       
     