﻿@inherits SearchComponentBase

 <div class="search-box">
                <input type="text" class=" search-txt" placeholder="Search">
                <a href="#" class="search-btn">
                   <i class="bi bi-search"></i>
                </a>
            </div>
          