﻿@using ShopOnlineNew.Components
@inherits LayoutComponentBase

 <div class="container">
     <div class="row row-cols-auto">
     <HeaderComponent/>
     
     </div> 
    
    <div class="row">
    <div class="col">
      <LogoComponent/>
    </div>
    
    <div class="col">
      <SearchComponent/>
    </div>
  
    <div class="col">
        <LoginComponent/>
    </div>    
   </div>
<CategoriesComponent/> 
  </div>   
@Body

